.loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px dashed #4f83d1;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    } to {
        transform: rotate(360deg) scale(1.4);
    }
}